.venv
.env
__pycache__/

#Ignore the data directory, which may contain large datasets or sensitive information

data

*.log

.next

.serverless

.claude

server/celerybeat-schedule

docs

node_modules