DATABASE_URL=postgresql://USERNAME:PASSWORD@localhost:5432/trademate_db
SECRET_KEY=change-this-to-a-long-random-secret

# AI Keys
OPENAI_API_KEY=your-openai-api-key-here

PINECONE_API_KEY=your-pinecone-api-key-here

AWS_SES_FROM_EMAIL=your_ses_from_email
AWS_SES_USERNAME=_your_ses_username
AWS_SES_PASSWORD=your_ses_password

# Freightos FaaS
FREIGHTOS_API_KEY=your-freightos-api-key
FREIGHTOS_API_SECRET=your-freightos-api-secret